robotframework-seleniumlibrary
robotframework-selenium2library
selenium
pipenv
nose2
pytest
robotframework-ride==1.7.4.1
robotframework-requests
robotframework-httplibrary
robotframework-whitelibrary
robotframework-appiumlibrary
pyserial
tox
toolz
six
pexpect
requests
delegator.py
sarge
fabric
fabtools
